<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Logo & Collapse Button -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" id="website-title">equalityscale.com</a>
        </div>
        <!-- Menu Items -->
        <div class="collapse navbar-collapse text-center" id="myNavBar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <button type="button" class="btn btn-default navbar-btn">Log In</button>
                <button type="button" class="btn btn-default navbar-btn">Sign Up</button>
            </ul>
        </div>
    </div>
</nav>
