<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>navbar}}
    <div id="page">
        <div class="home">
            <img class="center-block" src="/img/gender_symbol.jpg" />
        </div>
    </div>
    <article id="mainBody">
        {{{body}}}
    </article>
</body>

</html>
