<body>
    <table cellpadding="0" cellspacing="0" border="0" >
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" border="0" align="left">
                    <tr>
                        <td width="200" valign="middle">
                            <img src="http://www.fp1world.com/work/projimg/equalitypay.png" 
                                 alt="EqualityPay Logo" title="Equality Pay" 
                                 width="180" height="92" /><br/><br/>
                        </td>
                        <td width="400" valign="middle">
                            <strong>Thank you for your interest in Gender Pay Gap!</strong>
                        </td>
                    </tr>
                    <tr colspan="2">
                        <td valign="top">
                            Please click on the link below to confirm your email. 
                            <a href="/confirm?unconfE={{dbENum}}" target="blank">http://localhost:3000/confirm?unconfE={{dbENum}}</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>