<article id="pgConfirm">
    <h1>Welcome! Your email has been confirmed</h1>
    <p>Shortly you will be redirected to the questionnaire page. </p>
    <p>If you are not connected in 5 seconds, press <a href="/dosurvey">here</a></p>
</article>
