<article id="homePage">
    <h1>Welcome To Gender Equality</h1>
    <p>How does your salary compare with other genders in the U.S.? <br>Let's find out.</p>
    <section id="hpEmail">
        <form id="formEmail" method="post">
            Please provide your email <input id="inpEmail" name="inpEmail" type="email" size="25" {{#if inpEmail}} value="{{inpEmail}}" {{/if}} autofocus required> {{>captchabox}}
            <button id="btnEmail" type="submit">Submit</button>
        </form>
        <aside id="errorBxClient">
            <span class="errorTxt"></span>
        </aside>
        {{#if errorMsg}}
            <aside id="errorBxServ">
                <span class="errorTxt bx">{{errorMsg}}</span>
            </aside>
        {{/if}}
    </section>
</article>
