<article id="pgConfirm">
    <h1>You've been here before!</h1>
    <p>Our records indicate that the user with email: {{inpEmail}} has registered with us before.</p>
    <p>TBD: Here we provide 2 options:</p>
    <p>[1] if user is confirmed BUT has no form parameters filled out, take to form page. </p>
    <p>[2] if user is confirmed AND has filled out form parameters, user must become member to edit existing info. </p>
</article>
