<article id="pgDisplay">
    <h2>Here are the items you entered:</h2>
    <section id="respDispSec">
        {{#each dispForm}}
            <aside class="resDispRw">
                <div class="resDispLdCl">{{@key}}:</div>
                <div class="resDispCl">{{this}}</div>
            </aside>
        {{/each}}
    </section>
</article>
    