<article id="pgThanks">
    <h1>Thank you for joining!</h1>
    <p>We've sent an email to {{inpEmail}}.</p>
    <p>Please look for an email from us to you and click on the enclosed link.</p>
    
{{!--    <section id="sampleEmail">
        <h2>This is a Sample Email</h2>
        <p>To: &nbsp; {{inpEmail}}</p>
        <p>Thank you for your interest in Gender Pay Gap!</p>
        <p>Please click on the link below to confirm your email.</p>
        <a href="/confirm?unconfE={{dbENum}}" target="blank">http://localhost:3000?unconfE={{dbENum}}</a>
    </section> --}}
</article>
