@import url('https://fonts.googleapis.com/css?family=Lobster|Oxygen');

#page{
   font-size: 1rem;
   font-family: Georgia, Verdana, Helvetica, Sans-Serif;
   margin-left: 0; margin-right: 0;
}
.home {
   background-color: #778899; /* slate grey */ 
   position: relative; 
   margin-top: 51px; 
   color: snow;
}
#website-title {
   font-family: 'Lobster', cursive; 
   font-size: 160%; 
}
.home img {
   width: 100%; 
   opacity: 0.40; 
   position: relative;
}
.home_buttons > button{
   position: block; 
   width: 100%;
}
#mainBody {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 99;
    z-index: 1;
}
/* HOMEPAGE & ERROR PAGE */
#homePage, #errorPage, #pgConfirm, #pgThanks, #pgDisplay {
    font-family: 'Oxygen', sans-serif;
    color: snow;
    font-size: 2rem;
    text-align: center;
}
#homePage h1 {
    font-size: 3rem;
    text-align: center;
}
#homePage p, {
    text-align: center;
}
#hpEmail {
    margin: 1% 0 0 10%;
}
#inpEmail {
    color: rgb(0,0,0);
}
#btnEmail {
    display: block;
    color: rgb(0,191,255);
    border: 4px ridge rgb(65,105,225);
    background-color: rgb(0,0,128);
    margin: 2% 0 0 38%;
}
#capFrnt {
    margin: 3% 0 0 30%;
}
/* SERVER SIDE ERROR MESSAGES */
#errorBxClient {
    display: none;
}
#errorBxServ {
    margin: 2% 0 0 -13%;
    font-size: 1.9rem;
    font-variant: small-caps;
    font-weight: 900;
}

/* CONFIRM and DOSURVEY (FORM) PAGE */
#pgConfirm {
    font-size: 2rem;
    text-align: left;
}
#pgConfirm h1 {
    font-size: 3rem;
    text-align: center;
}
#pgConfirm p {
    text-align: center;
}
#cnForm, #respDispSec {
    width: 60%;
    margin: 1% auto;
    padding: 1% 5%;
    background-color: rgba(0,191,255,.7);
    border-radius: 45px;
    border: 4px groove rgb(65,105,225);
}
#formMain {
    color: black;
}
.frmRw {
    width: 90%;
    margin: 1% auto;
}
.fmLbl, .fmInp {
    display: inline-block;
} 
.fmLbl {
    width: 39%; 
}
/* THANKS PAGE */
#pgThanks {
    
}
#sampleEmail {
    width: 50%;
    margin: 1% auto;
    background-color: rgba(224,255,255,.8);
    border: 3px ridge rgb(0,0,139);
    border-radius: 0 40px;
    color: blueviolet;
    padding: 1% 3%;
    font-size: 2rem;
    text-align: left;
}
/* ERROR PAGE */
#errorPage {
    text-align: center;
}
.errorTxt {
    text-align: center;
    color: crimson;
    font-weight: 800;
}
.errorTxt.bx {
    padding 0 .5%;
    border: 2px solid crimson;
    background-color: rgba(135,206,235, .7);
}
/* ******************** SHOW DISPLAY PAGE *********************/
#pgDisplay {
    font-size: 1.5rem;
    text-align: left
}
.resDispRw {
    width: 90%;
    margin: 1% auto;
}
.resDispLdCl, .resDispCl {
    display: inline-block
}
.resDispLdCl {
    width: 45%;
}

/* This is for the tablet viewports and bigger resolutions */
@media(min-width: 768px){
   .navbar-nav > button {
      margin-right: 10px;
      margin-left: 10px;
   } 

   #homePage h1 {
      font-size: 4rem;
   }

   .home_buttons {
      background-color: #151515;
      padding: 10px;
   }

   .home_buttons > button {
      display: inline-block;
      width: 30%;
      padding: 15px;
      margin-left: 60px;
      margin-right: 60px;
   }
}
